.stats {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
  align-items: flex-end;
}

.speed-container {
  display: flex;
  align-items: baseline;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  border-radius: 10px;
}

.speed-value {
  font-size: 48px;
  font-weight: bold;
}

.speed-unit {
  font-size: 24px;
  margin-left: 10px;
}
